@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #0037ff;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  

body {
    margin: 0;
    padding: 0;

    background-size: cover;
    background-position: center;
}


.wheel {
    width: 100px;
    height: 100px;
    margin-bottom: 2em;
}

.wheel img {
    width: 100%;
}



reviews{
    width: 870px;
    float: left;
} 
.picture{
    width: 250px;
    height: 250px;
    margin-left: 100px;
} 
.review{
    border-left: 10px double navy;
    width: 350px;
    padding-left: 10px;
}
.ere{
    color: rgb(0, 0, 0);
    border-bottom: 1px dotted rgb(0, 0, 0);
}
.hh{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.hh:hover{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 0, 221);
    border: 5px solid rgb(255, 0, 221);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.vh{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.vh:hover{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(0, 217, 255);
    border: 5px solid rgb(0, 217, 255);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.adgj {
    font-family: sans-serif;
    background-color: #F5680C;
}
.sewer{
    display: flex;
    flex-wrap: wrap;

}
nav {
    display: flex;
    background-color: #F5680C;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}
.pou{
    padding: 15px;
    background-color: #F5680C;
}
main{
    background-color: #F5680C;
    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #F5680C;
}
footer {
    display: flex;
    background: #5FC0EC;
}

footer a {
    margin-right: 7px;
}

footer p {
    font-size: 24px;
}
.a{
    font-size: 30px;
    text-align: center;
}
.aa{
    margin-top: 70px;
    font-size: 60px;
}
.assortiment{
    text-align: center;
    font-size: 40px;
}
.assortiment_a{
    font-size: 20px;
    
}
.meat{
    text-align: center;
    font-size: 25px;
}
.bank{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px ;
}

.bank:hover{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(30, 255, 0);
    border: 5px solid rgb(30, 255, 0);
    border-radius: 10px ;
}

@media (orientation: portait) and (min-width: 400px) and  (max-width: 800px){
    main{
        font-size: 10px;
    }
      
}
